body {
			

	background-position: center;
  	background-image: url("landing-page.jpg");
 	background-size: cover;
 	height: 100%;
}

}

h4 {

	font-family: Times;	
	
}

.btn {

	margin-left: 40%;
	margin-top: 14%;
}

.text {

	margin-left: 35%;
	margin-top: 1%;
	color: rgba(255, 255, 255, 0.70);
}